body {
    font-family: cursive, Helvetica, sans-serif;
    background-image: url(../images/image.jpg);
color:brown;
} 

p {
    color: darkblue; }
img{
    border:2px solid lightcoral;
}
 .resaltar{ 
     font-style: italic;
     font-weight: bold;
     color: blue;
 }  