@font-face {
    font-family: Fuentetitulo;
    src: url(Lobster/Lobster-Regular.ttf);
 
} 
@font-face {
    font-family: Fuenteparrafo;
    src: url(Merriweather/Merriweather-Italic.ttf);
 
}

body {

    background-image: url(../images/gatitos.jpg); }   
nav, header, article{
    margin: 0 10%;
}
nav{
    background-color: #cf7500;}
    a{
        text-decoration: none;
    }
    nav a:link{ 
        color:#f4f4f4;
    }
    nav a:visited{
        color:brown;
    }
   nav a:focus{
        border: 1px dotted black;
    }
   nav a:hover{
        text-decoration: underline;
    } 
    nav ul{
        list-style-type: none;
        margin: 0;
        } 
header{
    background-color: black;
    font-size: 3.5em;
    color:  white;
    margin: 0 10%;
    text-align: center;
    padding: 2rem;
}
article{
    background-color:#f4f4f4;
    padding:  0 2em;
    margin: 0 10%;
}
.borderradius {
    border: 2px solid #42352c;
    border-radius: 15px;
}
h1, h2 {
    font-family: Fuentetitulo;
    color: green; 
    border: 0px solid blue;
    margin-bottom: 0.5em;

}
h1{
    font-size: 2em;
}
p {
    font-family: Fuenteparrafo;
    color:black;  
    line-height: 2em;
    border: 0px dotted blue;
    padding: 0 2em 1em 1em;
    margin: 0;
 }

img{

    border:2px solid lightcoral;
}
 .resaltar{ 
     font-style: italic;
     font-weight: bold;
     color: blue;
 }  
 article a{
     text-decoration: none;
 }
article  a:link{ 
     color:blue;
 }
article a:visited{
     color:brown;
 }
article a:focus{
     border: 1px dotted black;
 }
article a:hover{
     text-decoration: underline;
 }
 article ul{
    list-style-type: square;
    
}