@font-face {
    font-family: Fuentetitulo;
    src: url(Lobster/Lobster-Regular.ttf);
 
} 
@font-face {
    font-family: Fuenteparrafo;
    src: url(Merriweather/Merriweather-Italic.ttf);
 
}

body {

    background-image: url(../images/image.jpg);

} 

h1, h2 {
    font-family: Fuentetitulo;
    color: green; }
p {
    font-family: Fuenteparrafo;
    color: darkblue;  
    list-style: height 2em;; }

img{

    border:2px solid lightcoral;
}
 .resaltar{ 
     font-style: italic;
     font-weight: bold;
     color: blue;
 }  
 a{
     text-decoration: none;
 }
 a:link{ 
     color:green;
 }
 a:visited{
     color:brown;
 }
 a:focus{
     border: 1px dotted black;
 }
 a:hover{
     text-decoration: underline;
 }